/* Home  */
#home{

  background: linear-gradient(90deg , rgb(0,101,209) 50%, rgba(0,101,209,1) );
  background-image: linear-gradient(to right, rgba(0,101,209,0.5), rgba(0,101,209,1));
  min-height: 500px;

}
/* card  */
.card{
  transition: all 0.5 ease-in;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}
/* Login  */
.form{
  background-image: linear-gradient(to right, rgba(0,101,209,0.5), rgba(0,101,209,1));
}

/* Footer  */
.footer{
  background-image: linear-gradient(to right, rgba(0,101,209,0.5), rgba(0,101,209,1));
 
}